<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <title></title>
    <link href="../static/css/login.css" rel="stylesheet"/>
</head>
<body>
<div class="mybg">
    <center>登陆<br/>
        <form action="/login" method="post">
        <span>
            <table border="1">
                  <tr>
                     <td>账号：</td>
                     <td>
                         <input type="text" name="username"/>
                     </td>
                 </tr>
                 <tr>
                     <td>密码：</td>
                     <td>
                         <input type="password" name="password"/>
                     </td>
                 </tr>
            </table>
                <input type="submit" value="登陆"/>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <a href="/goregistui">注册</a>
        </span>
        </form>
    </center>
</div>
</body>
</html>